.glitch
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT
  .line GLITCH EFFECT